---
import { pwaInfo } from 'virtual:pwa-info';
---
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico" sizes="48x48">
    <link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="apple-touch-icon" href="/logo192.png">
    <title>Marée 12ème</title>
    <meta name="description" content="Calculateur de marée selon la règle des douzièmes">
    <script src="/src/pwa.ts"></script>
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
  </head>
  <body>
    <slot />
  </body>
</html>
